@charset "UTF-8";

:root {
    --cor0:#ec9e4f;
    --cor1:#B48456;
    --cor2:#E1AC75;
    --cor3:#BD8D5C;
    --cor4:#643f1a;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
}

.hdn {
    background-color: black;
    padding: 20px 35px;
    text-align: center;
    display: flex;
}

.logo {
    color: var(--cor2);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo span {
    margin: 0;
    font-size: 24px;
}

.logo img {
    width: 65px;
}

nav {
    margin: auto;
}

nav > a {
    color: white;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav > a:hover {
    color: var(--cor1);
}

nav a.ativo {
    color: var(--cor1);
}

.hdp {
    min-height: 500px;
    padding: 80px 90px;
    box-sizing: border-box;
    
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.2)
        ),
        url(cafec.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

h1 {
    font-size: 42px;
    line-height: 1.1;
    margin: 25px 0px;
}

h1 span {
    color: var(--cor2);
}

.hdp p:first-of-type {
    color: var(--cor2);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}

.hdp p:last-of-type {
    color: #dddddd;
    font-size: 18px;
    line-height: 1.3;
}

.cdp {
    background-color: var(--cor3);
    padding: 8px;
    border-radius: 14px;
    width: 300px;
}

.cardápio {
    color: white;
    text-decoration: none;
    margin: 0px;
}


body {
    margin: auto;
}